<html ng-app="app">
    <head>
        <title>Aula 12 - AngularJs</title>
        <!-- Biblioteca AngularJs -->
        <script src="js/angular/angular.min.js"></script>
        <script src="js/angular/angular-sanitize.min.js"></script>
        <!-- Módulo da Aplicação -->
        <!-- Controller Aula12 -->
        <script src="js/aula12.controller.js"></script>
        <meta charset="utf-8">
        
        <style>
            
            [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
            
            .classNgClass{
                font-size: 22px;
                color: green;
            }
        </style>
        
    </head>
    <body>

        <div ng-controller="aula12Controller">
           <h1>ngShow e ngHide</h1>
            <div ng-show="mostrar">Este bloco é exibido quando mostrar é true</div>
            <div ng-hide="mostrar">Este bloco é exibido quando mostrar é false</div>
            
            <input type="checkbox" ng-model="mostrar">Selecionado: mostrar = true <br />
            <h1>Elemento A</h1>
            <a href="">Abrir nova página</a>
            
            <h1>ngBindHtml</h1>
            {{variavelHTML}}
            <p ng-bind-html="variavelHTML"></p>
            
            <h1>ngClass</h1>
            <button type="button" ng-click="minhaClass ='classNgClass'">Add Class</button>
            <button type="button" ng-click="minhaClass =''">Del Class</button>
            <div ng-class="minhaClass">Propriedade ngClass</div>
            
            <h1>ngCloak</h1>
            <p>Previne que variáveis do tipo {{ }} sejam exibidas no browser</p>
            <p ng-cloak>{{ variavelCloak }}</p>
            
            <h1>ngSrc</h1>
            
            <img ng-src="imgs/{{minhaFoto}}" /><br />
            
            <button type="button" ng-click="minhaFoto ='foto1.jpg'">Foto 1</button>
            
            <button type="button" ng-click="minhaFoto ='foto2.jpg'">Foto 2</button>
            
        </div>

    </body>
</html>